
body  {
    user-select: none;
    margin: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    overflow: auto;
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 16px);
}

.container.connected {
    background: #b0e5b0;
}

.container.connecting {
    background: #eeeeac;
}

.container.disconnected, .container.closed, .container.failed {
    background: #f19191;
}

.top {
    display: flex;
    padding: 4px;
    flex-wrap: wrap;
    //min-height: 30vh;
}

.bottom {
    flex-grow: 1;
}

canvas {
    border: 1px solid black;
    display: block;
}

#dashboard {
    position: absolute;
}

select {
    width: 100px;
    height: 26px;
}

input {
    width:70px;
    height: 20px;
}

label {
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-left: 8px;
}

label>* {
    display: block;
    margin-bottom: 4px;
}


#console {
    overflow-y: auto;
    width: 100px;
    font-size: 11px;
    border: solid 1px;
    height: 15vh;
}

video {
    border: solid 1px #000000;
    margin: 2px;
    height: 15vh;
    max-width: 170px;
}
